.search-panel{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.inner-content{
  text-align: center;
  width: 270px;
  display: flex;
  justify-content: space-between;
}
.list-body {
  display: flex;
  flex-direction: column;
}
